<div class="details_positions">
<h1>STUDENT’S CORNER</h1>
 
Texas A&M has a long history of providing information assurance and cybersecurity educational opportunities for its students. Dating back to the mid-1990s, A&M faculty developed the first academic courses that employed active attack-defense laboratory exercises that emphasized the importance of hands-on activities to facilitate and accelerate student learning. This then novel approach has now been widely adopted throughout educational and training settings where cybersecurity topics are taught. A&M students have benefited directly from these educational innovations and, through their studies and associated hands-on experiences, they have consistently been able to rapidly acquire important cybersecurity knowledge and skills.

Texas A&M University offers students interested in cybersecurity a variety of ways to learn and be involved. The University offers several cybersecurity courses of study for both undergraduate and graduate students, ranging from a minor to a graduate designation. Additionally by participating in weekly Cybersecurity Club meetings, students can hear from guest speakers, receive hands-on cybersecurity training, and participate in national hack-a-thon events.


<div class= "header_text" id="tag0"><h2>Cybersecurity Courses of Study</h2></div>

Texas A&M students may now elect to choose from a variety of cybersecurity Curricular offerings including a Cybersecurity Undergraduate Minor Field of Study and various Designations at the undergraduate and graduate level.
<li><h3><%= link_to "COURSE REQUIREMENTS FOR MINOR IN CYBERSECURITY", '/educations#tag0' %></h3></li>
           
Available to all students pursuing a Bachelor of Science (B.S.) or Bachelor or Arts (B.A.)
<li><h3><%= link_to "COURSE REQUIREMENTS FOR UNDERGRADUATE CYBERSECURITY DESIGNATION (THEORY)", '/educations#tag1' %></h3></li> 
Available to students pursuing a Bachelor of Science (B.S.) or Bachelor or Arts (B.A.)
<li><h3><%= link_to "COURSE REQUIREMENTS FOR UNDERGRADUATE CYBERSECURITY DESIGNATION (APPLICATION)", '/educations#tag2' %></h3></li>
Available to students pursuing a Bachelor of Science (B.S.) or Bachelor or Arts (B.A.)
<li><h3><%= link_to "COURSE REQUIREMENTS FOR GRADUATE CYBERSECURITY DESIGNATION", '/educations#tag3' %></h3></li>
Available to students pursuing a Master’s of Science (M.S.) or Doctorate of Philosophy (Ph.D.)
 
 
<div class= "header_text" id="tag1"><h2>Cybersecurity Club</h2></div>
Join the Cybersecurity Club team and be a part of learning from experts and guest speakers, competing in national hackathons, and serving others through a cybersecurity service project! The Club meets at 7pm on Monday and Wednesday evenings in EDCT 616.
<li><h4><%= link_to "Contact the Cybersecurity Club", 'https://stuactonline.tamu.edu/app/organization/profile/public/id/1752'%></h4></li>


<div class= "header_text" id="tag2"><h2>Cybersecurity Competitions</h2></div>
Students in the Cybersecurity Club train and participate in the following national cybersecurity competitions and others.<br>
<li><%= link_to"National Collegiate Cyber Defense Competition",'http://www.nationalccdc.org' %> </li>
<li><%= link_to "NSA Codebreaker Challenge",'https://codebreaker.ltsnet.net/home'%> </li>
<li><%= link_to "The National Cyber League Competition", 'http://nationalcyberleague.org/index.shtml'%> </li>
<li><%= link_to "Cyber Security Awareness Week (CSAW) Competition",'https://csaw.engineering.nyu.edu'%> </li>
 
</div>