<p id="notice"><%= notice %></p>

<h1>Student's Corner</h1>
    <% @students.each do |student| %>
      
        <b><%= link_to "#{student.name}", student %></b> <br>
        <b>Department</b><br>
        <%= student.dept %><br>
        <b>About <%="#{student.name}"%></b><br>
        <%= student.desc %><br>
        <b>Email</b><br>
        <%= student.email %><br>
        <br>
        <br>
        <br>
    <% end %>


<br>

<%= link_to 'New Student', new_student_path %>
