<p id="notice"><%= notice %></p>
<center>
<h1>Student's Corner</h1>
    <%= form_tag faculties_path, :method => 'get' do %>
    <p>
      <center><%= text_field_tag :search, params[:search], size: 150 %></center>
      <br>
      <div class=searchBarProperty>
        <%= submit_tag "Search for Students", class: "btn btn-primary" %>
      </div>
    </p>
    <% end %>
</center>
    <% @student.each do |student| %>
      
        <b><%= link_to "#{student.name}", student %></b> <br>
        <b>Department</b><br>
        <%= student.dept %><br>
        <b>About <%="#{student.name}"%></b><br>
        <b>UIN :</b><%=student.uin %><br>
        <%= student.desc %><br>
        <b>Email</b><br>
        <%= student.email %><br>
        <br>
        <br>
        <br>
    <% end %>


<br>

<%= link_to 'New Student', new_student_path %>
