<div class="details_positions">
  <%= form_for(@publication) do |f| %>
    <% if @publication.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
  
        <ul>
        <% @publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :abstract %><br>
      <%= f.text_area :abstract %>
    </div>
    <div class="field">
      <%= f.label :keywords %><br>
      <%= f.text_field :keywords %>
    </div>
    Publication type <%= f.select(:publication_type,["None","Books and Chapters","Conference Proceedings and Papers","Journal Articles"])%>
    </br>Focus Area <%= select(:params,:focus_area,["None","Critical Infrastructure Protection","Cryptography / Cryptanalysis",
      "Cyber Defense Social and Behavioral Analysis","Cyber Physical System Security","Information Theoretic Secure Communication",
      "Intrusion and Anomaly Detection","Malicious Social Media and Spam","Malware and Botnet Detection and Analysis","Mobile Device and Mobile Communication Security",
      "Network Security (including SDN and Non IP Networks)","Novel and Non Traditional Attacks Method Analysis","Privacy and Anonymity Preservation","Smart Grid, Power Distribution, and Electrical Market Security"])%>
    </br>Cyber defense Topic <%= select(:params,:cd_topic,["None","Security Mechanisms/Functionality","Architecture","Assurance","Operations","Analysis","Non Technical CD Issues"])%>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>