<div class="details_positions">
  <p id="notice"><%= notice %></p>
  
  <br>
  
  <%= form_tag publications_path, :method => 'get' do %>
    <p>
      <center><%= text_field_tag :search, params[:search], size: 150 %></center>
      <br>
      <center>Search by:</center>
      <br>
      <center>Publication type <%= select(:params,:publication_type,["Book Chapter","Papers"])%>
      Focus Area <%= select(:params,:focus_area,["Critical Infrastructure Protection","Cryptography / Cryptanalysis",
      "Cyber Defense Social and Behavioral Analysis","Cyber Physical System Security","Information Theoretic Secure Communication",
      "Intrusion and Anomaly Detection","Malicious Social Media and Spam","Malware and Botnet Detection and Analysis","Mobile Device and Mobile Communication Security",
      "Network Security (including SDN and Non IP Networks)","Novel and Non Traditional Attacks Method Analysis","Privacy and Anonymity Preservation","Smart Grid, Power Distribution, and Electrical Market Security"])%>
      Cyber defense Topic <%= select(:params,:cd_topic,["Security Mechanisms/Functionality","Architectures","Assurance","Operations","Analysis","NonTechnical CD Issues",])%>
      </center>
      <div class=searchBarProperty>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </p>
    
  <% end %>
  
  <ul>
    <% @publications.each do |publication| %>
      <tr>
        <div class=papertitle>
          <li><%= link_to publication.name.to_s, publication %></li>
        </div>
        Abstract:<%= publication.abstract %>
        <br>
        Key Words:<%= publication.keywords %>
        <br>
      </tr>
    <% end %>
  </ul>
</div>
