<p id="notice"><%= notice %></p>

<h1>Listing Faculties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dept</th>
      <th>Desc</th>
      <th>Office</th>
      <th>Pnone_no</th>
      <th>Email</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.dept %></td>
        <td><%= faculty.desc %></td>
        <td><%= faculty.office %></td>
        <td><%= faculty.phone_no %></td>
        <td><%= faculty.email %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_faculty_path %>
