
<div class="details_positions">
    <p id="notice"><%= notice %></p>
<center>
<h1>Faculty Experts</h1>

    <%= form_tag faculties_path, :method => 'get' do %>
    <p>
      <center><%= text_field_tag :search, params[:search], size: 150 %></center>
      <br>
      <div class=searchBarProperty>
        <%= submit_tag "Search for Faculty Experts", class: "btn btn-primary" %>
      </div>
    </p>
    <% end %>
</center>
    <% @faculties.each do |faculty| %>
        <div class="element_spacing">
            <b><%= link_to "#{faculty.name}", faculty %></b> |
            <b>Department:</b>
            <%= faculty.dept %> | 
            <b> Email</b>
            <%= faculty.email %>
        </div>
    <% end %>


<br>

</div>


