<p id="notice"><%= notice %></p>

<h1>Faculty Experts</h1>



    <% @faculties.each do |faculty| %>
      
        <b><%= link_to "#{faculty.name}", faculty %></b> <br>
        <b>Department</b><br>
        <%= faculty.dept %><br>
        <b>About <%="#{faculty.name}"%></b><br>
        <%= faculty.desc %><br>
        <b>Office</b><br>
        <%= faculty.office %><br>
        <b>Phone no</b><br>
        <%= faculty.phone_no %><br>
        <b>Email</b><br>
        <%= faculty.email %><br>
        <% faculty.students. each do |stu| %>
        <%= stu.name %>
        <%end%>
        <br>
        <br>
        <br>
    <% end %>


<br>

<%= link_to 'New Faculty', new_faculty_path %>
