<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @faculty.dept %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @faculty.desc %>
</p>

<p>
  <strong>Office:</strong>
  <%= @faculty.office %>
</p>
<p>
  <strong>UIN:</strong>
  <%= @faculty.uin %>
</p>
<p>
  <strong>Phone_no:</strong>
  <%= @faculty.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>

<p><b>My Students </b></p>
<% @faculty.students.each do |student| %>
Name: <%= link_to "#{student.name}",student_path(student) %><br>
<%end%>
<p><b>My publications</b></p>
<% @faculty.publications.each do |student| %>
<%= link_to "#{student.name}",publication_path(student) %><br>
<%end%>
<% if session.key?(:faculty_id) and session[:faculty_id] == @faculty.id%>
<%= link_to '<button type="button" class ="btn " id ="Add a new Student">Add new Student</button>'.html_safe, uin_path %> <br>

<%= form_tag new_resume_path, :method => 'get' do %>
  <p>
    <%= submit_tag "Upload CV", :name => nil %></br>
  </p>
<% end %>
<%= link_to 'Add a new publication',new_publication_path %> </br>
<%= link_to 'New Event', new_event_path %></br>
<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%end%>
<%= link_to 'Back', faculties_path %>
