<header class="navbar navbar-fixed-top navbar-inverse roster">
    <div class="container-fluid">
      <div class= "headtitle">
        <h1>TEXAS A & M CYBERSECURITY CENTER</h1>
      </div>
       <nav>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Home",'/' %> </li>
          <li> <%= link_to "About us","#" %> </li>
          <li> <%= link_to "Research",publications_path %> </li>
            <li> <%= link_to "Education",educations_path %> </li>
          <li> <%= link_to "Partnerships","#" %> </li>
          <li> <%= link_to "Events",events_path %> </li>
          <li> <%= link_to "Students corner","#" %> </li>
          <li> <%= link_to "Find faculty experts",faculties_path %> </li>
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_faculty %></li>
              <li><%= link_to "Edit my profile", faculty_path(session[:faculty_id]) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "faculty login",login_path %></li>
          <li><%= link_to "student login","#" %></li>
          <% end %>
        </ul>
        
      </nav>
      
    </div>
    
  </header>
  <div class="container-fluid">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
  </div>