<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class= "headtitle">
        <h1>TEXAS A & M CYBERSECURITY CENTER</h1>
      </div>
       <nav>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Home",'/' %> </li>
          <li> <%= link_to "About us","#" %> </li>
          <li> <%= link_to "Research","#" %> </li>
          <li> <%= link_to "Education","#" %> </li>
          <li> <%= link_to "Partnerships","#" %> </li>
          <li> <%= link_to "Events","#" %> </li>
          <li> <%= link_to "Students corner","#" %> </li>
          <li> <%= link_to "Find faculty experts",faculties_path %> </li>
        </ul>
      </nav>
    </div>
  </header>
</body>



</body>
</html>
